# * Remember to change your application_name, environment_name, existing_bucket_name, and region to the values used by your AWS Elastic Beanstalk environment
# * Remember to check your default branch to see if it is main or master and update the branches field accordingly.

name: Deploy MultiDocker
on:
  push:
    branches:
      - master # check your repo, your default branch might be master!
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t jfoster57/react-test -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true jfoster57/react-test npm test
 
      - run: docker build -t jfoster57/multi-client-01-16 ./client
      - run: docker build -t jfoster57/multi-nginx-01-16 ./nginx
      - run: docker build -t jfoster57/multi-server-01-16 ./server
      - run: docker build -t jfoster57/multi-worker-01-16 ./worker
 
      - run: docker push jfoster57/multi-client-01-16
      - run: docker push jfoster57/multi-nginx-01-16
      - run: docker push jfoster57/multi-server-01-16
      - run: docker push jfoster57/multi-worker-01-16
 
      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'
 
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: multi-docker
          environment_name: Multi-docker-env
          existing_bucket_name: elasticbeanstalk-us-east-1-464788833046
          region: us-east-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip